**Preliminary experiments, word order**

In [141]:
import pandas as pd
import numpy as np

In [142]:
wordorder=pd.read_csv('/content/acl2015-wordorder-tokens-81A.csv', sep='\t', index_col=0)
entropies50k=pd.read_csv('/content/BlockH_EPC_PBC_UDHR_50K.csv', index_col=0)

In [143]:
wordorder.head()

     SOV  SVO  OSV  OVS  VSO  VOS  MAX WALS
ISO
aai   64    8   12    6    1    2  SOV    _
aak   81   17   20   33    5    9  SOV    _
aau   37    1    7    0    1    0  SOV  SOV
abt   29    7    5    8    1    1  SOV  SOV
aby   53   11   10   11    6    5  SOV    _

We will add two columns "OS" and "SO"

In [144]:
SO = wordorder["SOV"] + wordorder["SVO"]+ wordorder["VSO"]
OS = wordorder["OSV"] + wordorder["OVS"]+ wordorder["VOS"]
wordorder["SO"] = SO
wordorder["OS"] = OS
wordorder

     SOV  SVO  OSV  OVS  VSO  VOS  MAX WALS   SO  OS
ISO
aai   64    8   12    6    1    2  SOV    _   73  20
aak   81   17   20   33    5    9  SOV    _  103  62
aau   37    1    7    0    1    0  SOV  SOV   39   7
abt   29    7    5    8    1    1  SOV  SOV   37  14
aby   53   11   10   11    6    5  SOV    _   70  26
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
zpz    1   15    4    5   12    4  SVO    _   28  13
zsr    2   12    0    2    5   20  VOS    _   19  22
ztq    4   46    5    9   20    7  SVO    _   70  21
zty    4   18    4    0    8    9  SVO    _   30  13
zul    1   34    2    1    5    2  SVO  SVO   40   5

[986 rows x 10 columns]

Entropy over SOV 	SVO 	OSV 	OVS 	VSO 	VOS

In [145]:
features=wordorder.drop(["MAX","WALS", "SO", "OS"],axis=1)
iso=features.index.tolist()
entropies=[]
for index in range(len(iso)):
  freqs=features.iloc[index].to_numpy() #Numpy array
  freqs=freqs[freqs != 0]  #We extract only the values not equal to zero.
  p = freqs/freqs.sum()
  H=-(p*np.log2(p)).sum()  #entropy
  entropies.append(H)
wordorder['H'] = entropies
wordorder

     SOV  SVO  OSV  OVS  VSO  VOS  MAX WALS   SO  OS         H
ISO
aai   64    8   12    6    1    2  SOV    _   73  20  1.501209
aak   81   17   20   33    5    9  SOV    _  103  62  2.056884
aau   37    1    7    0    1    0  SOV  SOV   39   7  0.906143
abt   29    7    5    8    1    1  SOV  SOV   37  14  1.826493
aby   53   11   10   11    6    5  SOV    _   70  26  2.001359
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ..       ...
zpz    1   15    4    5   12    4  SVO    _   28  13  2.205539
zsr    2   12    0    2    5   20  VOS    _   19  22  1.819314
ztq    4   46    5    9   20    7  SVO    _   70  21  2.020840
zty    4   18    4    0    8    9  SVO    _   30  13  2.087010
zul    1   34    2    1    5    2  SVO  SVO   40   5  1.301111

[986 rows x 11 columns]

Entropy over OS and SO

In [146]:
features=wordorder[["SO", "OS"]]
iso=features.index.tolist()
entropies=[]
for index in range(len(iso)):
  freqs=features.iloc[index].to_numpy() #Numpy array
  freqs=freqs[freqs != 0]  #We extract only the values not equal to zero.
  p = freqs/freqs.sum()
  H=-(p*np.log2(p)).sum()  #entropy
  entropies.append(H)
wordorder['H_SO'] = entropies
wordorder

     SOV  SVO  OSV  OVS  VSO  VOS  MAX WALS   SO  OS         H      H_SO
ISO
aai   64    8   12    6    1    2  SOV    _   73  20  1.501209  0.751032
aak   81   17   20   33    5    9  SOV    _  103  62  2.056884  0.954991
aau   37    1    7    0    1    0  SOV  SOV   39   7  0.906143  0.615254
abt   29    7    5    8    1    1  SOV  SOV   37  14  1.826493  0.847862
aby   53   11   10   11    6    5  SOV    _   70  26  2.001359  0.842658
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ..       ...       ...
zpz    1   15    4    5   12    4  SVO    _   28  13  2.205539  0.901170
zsr    2   12    0    2    5   20  VOS    _   19  22  1.819314  0.996134
ztq    4   46    5    9   20    7  SVO    _   70  21  2.020840  0.779350
zty    4   18    4    0    8    9  SVO    _   30  13  2.087010  0.884115
zul    1   34    2    1    5    2  SVO  SVO   40   5  1.301111  0.503258

[986 rows x 12 columns]

Entropies

In [147]:
entropies50k

                             iso  num_tokens  ...   H_shrink  corpus
file                                          ...
bg_tokenized_1mio            bul       50000  ...   9.790227     EPC
cs_tokenized_1mio            ces       50000  ...  10.958576     EPC
da_tokenized_1mio            dan       50000  ...   9.469545     EPC
nl_tokenized_1mio            nld       50000  ...   9.092268     EPC
en_tokenized_1mio            eng       50000  ...   9.014738     EPC
...                          ...         ...  ...        ...     ...
hbo-x-bible-westminster.csv  hbo       50000  ...  12.172960     PBC
esk-x-bible.csv              esk       50000  ...  12.550563     PBC
ike-x-bible.csv              ike       50000  ...  13.004339     PBC
kal-x-bible.csv              kal       50000  ...  13.032471     PBC
hbo-x-bible-leningrad.csv    hbo       50000  ...  13.872689     PBC

[1916 rows x 12 columns]

In [148]:
#UDHR=entropies50k.loc[entropies50k['corpus'] == 'UDHR']
entropies50k_uniq=entropies50k.drop_duplicates(subset=['iso'], keep='last').rename(columns={"iso": "ISO"})  #dropping repeated languages, we only keep one
entropies50k_uniq=entropies50k_uniq.set_index('ISO')
entropies50k_uniq

     num_tokens       H_ML       H_MM  ...      H_NSB   H_shrink  corpus
ISO                                    ...
tah        2134   6.018509   6.149325  ...   6.171389   6.054201    UDHR
guu        1824   6.179586   6.327889  ...   6.322426   6.216352    UDHR
rar        2222   6.265545   6.351899  ...   6.327577   6.319332    UDHR
ada        2319   6.323479   6.420530  ...   6.403914   6.380221    UDHR
zro        1031   6.363003   6.521126  ...   6.419321   6.462762    UDHR
..          ...        ...        ...  ...        ...        ...     ...
ssw       50000  12.045105  12.263226  ...  12.153120  12.093901     PBC
esk       50000  12.517256  12.809647  ...  13.546939  12.550563     PBC
ike       50000  12.949484  13.261972  ...  13.798097  13.004339     PBC
kal       50000  12.974790  13.289442  ...  13.812921  13.032471     PBC
hbo       50000  13.759242  14.137387  ...  14.287961  13.872689     PBC

[1259 rows x 11 columns]

In [150]:
all=wordorder.join(entropies50k_uniq).corr("spearman")
all.to_csv("wordorder_tokens.csv")
all.corr("spearman")

                 SOV       SVO       OSV  ...      H_CS     H_NSB  H_shrink
SOV         1.000000 -0.061654  0.661654  ...  0.249624  0.315789  0.434586
SVO        -0.061654  1.000000  0.318797  ... -0.736842 -0.718797 -0.760902
OSV         0.661654  0.318797  1.000000  ... -0.270677 -0.210526 -0.121805
OVS         0.553383  0.019549  0.461654  ... -0.025564 -0.004511 -0.033083
VSO        -0.446617  0.663158  0.024060  ... -0.703759 -0.748872 -0.852632
VOS        -0.309774  0.572932  0.192481  ... -0.559398 -0.612030 -0.715789
SO          0.470677  0.673684  0.730827  ... -0.461654 -0.390977 -0.282707
OS          0.357277  0.510718  0.731854  ... -0.477623 -0.456563 -0.500188
H          -0.407519 -0.200000 -0.312782  ...  0.078195  0.006015 -0.118797
H_SO       -0.021053 -0.269173  0.081203  ...  0.178947  0.121805  0.018045
num_tokens -0.348251 -0.554344 -0.740880  ...  0.429485  0.443024  0.536292
H_ML        0.407519 -0.759398 -0.151880  ...  0.834586  0.887218  0.984962
H_MM        0.398496 -0.738346 -0.136842  ...  0.870677  0.929323  0.981955
H_Jeff      0.228571 -0.699248 -0.300752  ...  0.977444  0.948872  0.833083
H_Lap       0.206015 -0.723308 -0.315789  ...  0.969925  0.920301  0.819549
H_SG        0.409023 -0.760902 -0.153383  ...  0.836090  0.888722  0.983459
H_minmax    0.404511 -0.756391 -0.157895  ...  0.840602  0.893233  0.987970
H_CS        0.249624 -0.736842 -0.270677  ...  1.000000  0.972932  0.846617
H_NSB       0.315789 -0.718797 -0.210526  ...  0.972932  1.000000  0.899248
H_shrink    0.434586 -0.760902 -0.121805  ...  0.846617  0.899248  1.000000

[20 rows x 20 columns]